<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MySuite">

    <!-- Test واحد يحتوي على ميثودات مختارة من أكثر من كلاس -->
    <test name="CombinedTest">
        <classes>
            <!-- ClassA: شغل method معينة -->
            <!-- ClassB: شغل كل الميثودات -->
            <class name="RegisterPageTest"/>
            <class name="HomePageTest"/>
            <class name="LoginPageTest"/>
            <class name="ItemPageTest"/>
            <class name="CartPageTest"/>
            <class name="PlaceOrderModelPageTest"/>


        </classes>
    </test>

</suite>
